snippet whrl "read line from file"
while read -r ${1:line}; do
  ${3: echo "$line"}
done < ${2:file}
$4
endsnippet

snippet nixshebang "nix-shell shebang"
#!/usr/bin/env nix-shell
#!nix-shell -i bash -p ${1:bash}
#shellcheck shell=bash
$2
endsnippet
