snippet var "define variable"
variable "${1:name}" {
  type        = ${2:string}
  description = "${3:variable description}"
}
$4
endsnippet

snippet out "define output"
output "${1:name}" {
  value       = ${2:resource.name.variable}
  description = "${3:output description}"
}
$4
endsnippet

snippet mod "module definition"
module "${1:name}" {
  source = "${2:module_path}"
}
$3
endsnippet
