---
name: Build Nix envs

on:
  repository_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - "**"
      - "!**.md"
  push:
    branches:
      - main
    paths:
      - "**"
      - "!**.md"
  schedule:
    - cron: "0 0 * * 0" # Every Sunday at midnight UTC

jobs:
  build-linux-env:
    name: Build/cache Linux Nix env
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x86_64
            nix-command: build .#homeConfigurations.v@falcon.activationPackage
            user: vince
            hostname: v
          - arch: x86_64
            nix-command: build .#nixosConfigurations.v.config.system.build.toplevel
            user: vince
            hostname: v
          - arch: x86_64
            nix-command: build .#nixosConfigurations.falcon.config.system.build.toplevel
            user: admin
            hostname: falcon

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
        with:
          # Nix Flakes doesn't work on shallow clones
          fetch-depth: 0

      - name: create untracked files
        run: |
          touch ./home/modules/modules/shell/tools/ssh/config/known_hosts
          touch ./home/modules/modules/desktop/tools/buku/share/bookmarks.db

      - run: sudo apt-get install -y qemu-user-static

      - uses: DeterminateSystems/determinate-nix-action@v3.13.1
        with:
          extra_config: |
            system = ${{ matrix.arch }}-linux
            system-features = nixos-test benchmark big-parallel kvm

      - uses: DeterminateSystems/flakehub-cache-action@v2.1.0

      - uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: If scheduled, update inputs
        if: ${{ github.event_name == 'schedule' && success() }}
        run: |
          nix flake update
          ./infra.nu nix-update

      - name: Build
        run: nix ${{ matrix.nix-command }}

      - name: If scheduled, push commit with updated inputs
        if: ${{ github.event_name == 'schedule' && success() }}
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit --no-gpg-sign -m "build: update flake inputs"
          git push
