---
name: Renovate

on:
  schedule:
    # Run every day at 2am UTC
    - cron: "0 2 * * *"
  workflow_dispatch:
    inputs:
      dryRun:
        description: "Dry run"
        required: false
        default: "false"
      logLevel:
        description: "Log level"
        required: false
        default: ""
      rebase:
        description: "Rebase existing PRs"
        required: false
        default: "true"

concurrency:
  group: renovate
  cancel-in-progress: false

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Run Renovate
        uses: renovatebot/github-action@v44.0.5
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_DRY_RUN: ${{ github.event.inputs.dryRun }}
          RENOVATE_REBASE_WHEN_MODIFIED: ${{ github.event.inputs.rebase }}
          LOG_LEVEL: ${{ github.event.inputs.logLevel }}
