---
name: Validate

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  pre-commit-hook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: DeterminateSystems/determinate-nix-action@v3.15.2
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - name: Run pre-commit hooks
        shell: bash
        run: |
          nix develop --command pre-commit run -a
